.dvAbout{
	width: 600px;
	text-align: center;
	padding: 30px;
	margin:0px auto;
	margin-top: 40px;
	border:2px solid #888;
	border-radius:16px;
	background-color: #DEF;
	height: 400px;
}

.dvAbout p{
	font-family: verdana, sans-serif;
	font-size: 20px;

}